name: CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build
        run: ./gradlew build
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app-artifact
          path: build/libs/*.jar
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: my-app-artifact
          path: ./artifact

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          key_base64: true
          script: |
            mkdir -p ~/my-app
            cp ./artifact/*.jar ~/my-app/
            pkill -f 'java -jar' || true
            nohup java -jar ~/my-app/*.jar > ~/my-app/app.log 2>&1 &